# Formatting used in Solidity's C++
#
# Relies on a special patched branch of clang 20:
# https://github.com/ekpyron/llvm-project/tree/clangFormatAlwaysBlockIndent
# A build script as well as prebuilt binaries for a compatible fully static
# clang-format can found at:
# https://github.com/ekpyron/clang_format_always_block_indent

Language: Cpp
BasedOnStyle: LLVM
AccessModifierOffset: -4
AlignAfterOpenBracket: AlwaysBlockIndent
AlignEscapedNewlines: Left
AlignOperands: DontAlign
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AlwaysBreakAfterReturnType: None
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: false
BinPackParameters: false
BreakBeforeBinaryOperators: None
BreakBeforeBraces: Allman
BreakBeforeTernaryOperators: false
BreakBinaryOperations: RespectPrecedence
BreakConstructorInitializers: AfterColon
ColumnLimit: 120
ContinuationIndentWidth: 4
Cpp11BracedListStyle: true
FixNamespaceComments: false
IncludeBlocks: Preserve
IndentWidth: 4
IndentWrappedFunctionNames: false
InsertNewlineAtEOF: true
InsertTrailingCommas: Wrapped
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 2
PackConstructorInitializers: CurrentLine
PenaltyBreakBeforeFirstCallParameter: 0
PointerAlignment: Left
ReflowComments: true
RemoveBracesLLVM: true
RemoveSemicolon: true
SpaceAfterCStyleCast: true
SpaceAfterTemplateKeyword: false
SpaceBeforeCtorInitializerColon: false
SpaceBeforeInheritanceColon: false
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: false
SortIncludes: CaseInsensitive
QualifierAlignment: Right
TabWidth: 4
UseTab: Always

# Local Variables:
# mode: yaml
# End:
