root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{cpp,h}]
indent_style = tab
indent_size = 4

[*.{py,rst,sh,yml}]
indent_style = space
indent_size = 4

[*.{sol,yul}]
indent_style = space
indent_size = 4

[*.{txt,cmake,json}]
indent_style = tab
indent_size = 4
