<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>homebrew.mxcl.cpp-ethereum</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>ThrottleInterval</key>
    <integer>300</integer>
    <key>ProgramArguments</key>
    <array>
        <string>@@HOMEBREW_PREFIX@@/opt/cpp-ethereum/bin/eth</string>
        <string>-d</string>
        <string>@@HOMEBREW_CELLAR@@/cpp-ethereum/0.9.41-61/.ethereum</string>
        <string>-b</string>
    </array>
    <key>WorkingDirectory</key>
    <string>@@HOMEBREW_PREFIX@@</string>
  </dict>
</plist>
