pre {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;
}

.wy-table-responsive table td, .wy-table-responsive table th {
  white-space: normal;
}
.rst-content table.docutils td {
  vertical-align: top;
}
