pre {
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;
}

.wy-table-responsive table td, .wy-table-responsive table th {
    white-space: normal;
}
.rst-content table.docutils td {
    vertical-align: top;
}

/* links */
.rst-content a:not(:visited) {
    color: #002fa7;
}

.rst-content .highlighted {
    background: #eac545;
}

/* code block highlights */
.rst-content pre {
    background: #fafafa;
}

.wy-side-nav-search img.logo {
    width: 100px !important;
    padding: 0;
}

.wy-side-nav-search > a {
    padding: 0;
    margin: 0;
}

/* project version (displayed under project logo) */
.wy-side-nav-search .version {
    color: #272525 !important;
}

/* menu section headers */
.wy-menu .caption {
    color: #65afff !important;
}

/* Link to Remix IDE shown next to code snippets */
p.remix-link-container {
    position: relative;
    font-size: 12px;        /* Positioned next to the the top-right corner of the code block following it. */
    top: 22px;
    margin-top: -15px;
    margin-bottom: 10px;
}

a.remix-link {
    position: relative;  /* Remove it from normal flow not to affect the original position of the snippet. */
    top: -2.1em;
    width: 5.6em;      /* Size of the margin (= right-side padding in .wy-nav-content in the current theme). */
    background: #1899d6;
    margin-top: 1px;
    border-radius: 4px;
    font-family: monospace;
    padding: 4px;
    box-shadow: rgba(45, 35, 66, 40%) 0 2px 4px, rgba(45, 35, 66, 30%) 0 7px 13px -3px, #2980b9 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395a;
    display: inline-flex;
    line-height: 1;
}

a.remix-link .link-icon {
    background: url("../img/solid-share-arrow.svg") no-repeat;
    display: none;
    width: 1.5em;
    height: 1.5em;
    margin: auto;
}

a.remix-link .link-text {
    display: block;       /* Visible only on hover. */
    width: 6.3em;        /* Narrow enough to get two lines of text. */
    margin: 0;
    text-align: center;
    font-size: 0.75em;
    line-height: normal;
    color: #fcfcfd;
}

a.remix-link:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}
