<ul>
  <li class="{% if page.overview %}current{% endif %}">
    <a href="{{ site.url }}">Home</a>
  </li>
  <li class="{% if page.url contains '/docs/' %}current{% endif %}">
    <a href="http://solidity.readthedocs.org/">Doc<span class="show-on-mobiles">s</span><span class="hide-on-mobiles">umentation</span></a>
  </li>
  <li class="{% if page.author %}current{% endif %}">
    <a href="https://github.com/ethereum/wiki/wiki/Solidity-Changelog">Changelog</a>
  </li>
  <li class="{% if page.author %}current{% endif %}">
    <a href="{{ site.url }}help/">Help</a>
  </li>
</ul>
