# Fix sphinx-rtd-theme to the minimal version that supports addons: https://github.com/readthedocs/sphinx_rtd_theme/pull/1526
sphinx-rtd-theme==2.1.0rc2

pygments-lexer-solidity>=0.7.0
sphinx-a4doc>=1.6.0

# Sphinx 2.1.0 is the oldest version that accepts a lexer class in add_lexer()
sphinx>=2.1.0, <6.0
